<!--The content below is only a placeholder and can be replaced.-->
<h1>
    Orders {{ name }}
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date Order</th>
            <th>Delivery Address</th>
            <th>Products</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of customerOrders">
            <td>{{order.orderId}}</td>
            <td>{{order.creationDate.substring(0,10)}}</td>
            <td>{{order.deliveryAddress}}</td>
            <td>
                <ul>
                    <li *ngFor="let detail of order.orderDetails">
                        {{detail.quantity}} x {{detail.product.name}} {{detail.product.productDescription}}  -> {{detail.price}}
                    </li>
                </ul>
            </td>
            <td>{{order.total}}</td>
        </tr>
    </tbody>
</table>