<h1>
    Customers
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Orders</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td> {{ customer.customerId }} </td>
            <td> {{ customer.name }} </td>
            <td> {{ customer.email }} </td>
            <td> <a class="nav-link" routerLink="/orders/{{ customer.customerId }}/{{ customer.name }}">List</a> </td>
        </tr>
    </tbody>
</table>